<form accept-charset="UTF-8" action="/users" method="post" enctype="multipart/form-data"  >
  <input type="text" name="user[name]" value="Acme" /> <br/>
  <input type="text" name="user[phone]" value="12345" /> <br/>
  <input type="file" name="file" ID="fupPhoto"/>
  <button type="submit"> 提交</button>
</form>